/* Colors */
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/ralway/Raleway-Regular.woff2') format('woff2'), url('../fonts/ralway/Raleway-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserat-reg/Montserrat-Regular.woff2') format('woff2'), url('../fonts/montserat-reg/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.container {
  max-width: 1920px;
  margin: 0 auto;
  font-family: 'Raleway';
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
/* header */
.header {
  width: 100%;
  min-height: 1024px;
  background: url(../img/photo.jpg) center center no-repeat;
  background-size: cover;
  /* header-top */
  /* header-middle */
  /* header-middle */
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 19.5% 0 19.5%;
}
.header-top-logo {
  width: 185px;
}
.header-top-logo a {
  display: flex;
  align-items: center;
}
.header-top-logo a svg {
  fill: #ffffff;
}
.header-top-logo a svg:hover {
  fill: #c7b299;
}
.header-top-logo a span:hover {
  color: #c7b299;
}
.header-top-logo .company_name {
  color: #ffffff;
  font-size: 34px;
}
.header-top-menu {
  display: flex;
  align-items: center;
}
.header-top-menu a {
  font-family: 'Montserrat';
  color: #ffffff;
  font-size: 14px;
  margin-left: 30px;
}
.header-top-menu a svg {
  fill: #ffffff;
}
.header-top-menu a svg:hover {
  fill: #c7b299;
}
.header-top-menu a svg:active {
  fill: #555555;
}
.header-top-menu a:hover {
  color: #c7b299;
}
.header-top-menu a:active {
  color: #555555;
}
.header-top-menu a:nth-child(9) {
  margin-left: 63px;
}
.header-middle {
  display: flex;
  justify-content: space-between;
  padding: 285px 7.8% 0 7.8%;
  align-items: center;
}
.header-middle .arrow {
  fill: #ffffff;
}
.header-middle .arrow:hover {
  fill: #c7b299;
}
.header-middle-slogan {
  max-width: 589px;
  text-align: center;
}
.header-middle-slogan span {
  font-size: 36px;
  color: #ffffff;
  margin: 0 0 14px 0;
}
.header-middle-slogan h1 {
  font-size: 52px;
  font-weight: 800;
  color: #ffffff;
  margin: 0 0 19px 0;
}
.header-middle-slogan p {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: #ffffff;
  margin: 0 0 52px 0;
}
.header-middle-slogan-btn {
  outline: none;
  width: 170px;
  height: 53px;
  background-color: #c7b299;
  font-size: 14px;
  color: #ffffff;
  font-family: 'Raleway';
  border-radius: 3px;
  border: none;
  text-transform: uppercase;
  font-weight: 800;
  cursor: pointer;
}
.header-middle-slogan-btn:hover {
  background-color: #a18059;
}
.header-middle-slogan-btn:active {
  color: #555555;
}
.header-bottom {
  padding: 330px 0 0 0 ;
  display: flex;
  width: 100px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.header-bottom .circle {
  width: 11px;
  height: 11px;
  background-color: #8e8d90;
  border-radius: 50%;
}
.header-bottom .circle:hover {
  background-color: #c7b299;
}
.header-bottom .active {
  width: 15px;
  height: 15px;
  background-color: none;
  border-radius: 50%;
  border: 2px solid #c7b299;
}
/* main */
.opportunities {
  display: flex;
  justify-content: space-between;
  padding: 80px 19.5% 80px 19.5%;
  align-items: flex-end;
}
.opportunities-item {
  max-width: 267px;
  box-sizing: border-box;
  text-align: center;
}
.opportunities-item:hover .top,
.opportunities-item:hover .bottom {
  fill: #c7b299;
}
.opportunities-item:hover h3 {
  color: #c7b299;
}
.opportunities-item .top {
  fill: #555555;
  margin-bottom: 29px;
  transition-duration: 0.2s;
}
.opportunities-item h3 {
  margin: 0 0 24px 0;
  font-style: 22px;
  font-weight: 600;
  color: #555555;
  transition-duration: 0.2s;
}
.opportunities-item p {
  margin: 0 0 30px 0;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  color: #8c8c8c;
}
.opportunities-item .bottom {
  fill: #555555;
  transition-duration: 0.2s;
}
/* realization_idea */
.realization_idea {
  text-align: center;
  background-color: #fbfaf8;
}
.realization_idea-header {
  padding: 83px 30.4% 40px 30.4%;
}
.realization_idea-header-title {
  margin: 0 0 24px 0;
  font-size: 28px;
  color: #555555;
}
.realization_idea-header-description {
  margin: 0;
  font-size: 16px;
  line-height: 1.75;
  color: #8c8c8c;
}
.realization_idea .carousel {
  margin: 0 auto;
  max-width: 64.2%;
  min-height: 485px;
  background: url(../img/carousel.jpg) center center no-repeat;
  background-size: cover;
}
/* aside-bar */
.aside-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 49px 19.8% 49px 19.8%;
  background: url(../img/background-aside.png) center center no-repeat;
  background-size: cover;
}
.aside-bar-title {
  font-size: 28px;
  margin: 0 0 8px 0;
  color: #ffffff;
}
.aside-bar-title span {
  color: #c7b299;
}
.aside-bar-definition {
  color: #8c8c8c;
  margin: 0;
}
.aside-bar-btn {
  outline: none;
  transition-duration: 0.2s;
  width: 170px;
  height: 50px;
  background-color: #c7b299;
  font-size: 14px;
  color: #ffffff;
  font-family: 'Raleway';
  border-radius: 3px;
  border: none;
  text-transform: uppercase;
  font-weight: 800;
  cursor: pointer;
}
.aside-bar-btn:hover {
  background-color: #a18059;
}
.aside-bar-btn:active {
  color: #555555;
}
/* last_project */
.last_project {
  text-align: center;
  padding-bottom: 80px;
}
.last_project-header {
  padding: 80px 30.3% 80px 30.3%;
}
.last_project-title {
  margin: 0;
  font-size: 30px;
  color: #555555;
}
.last_project-description {
  margin: 0;
  font-size: 16px;
  font-weight: 300;
  color: #8c8c8c;
  line-height: 1.75;
}
.last_project-photo_galary {
  max-width: 1920px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 376px;
}
.last_project-photo_galary .photo-wrp {
  position: relative;
  margin-bottom: 30px;
  min-width: 371px;
}
.last_project-photo_galary .photo-wrp:hover img {
  filter: brightness(35%);
}
.last_project-photo_galary .photo-wrp:hover .description_photo {
  background-color: #362f2d;
}
.last_project-photo_galary .photo-wrp:hover .description_photo .triangle {
  fill: #362f2d;
}
.last_project-photo_galary .photo-wrp:hover .description_photo h3 {
  color: #ffffff;
}
.last_project-photo_galary .photo-wrp:hover .description_photo span {
  color: #c7b299;
}
.last_project-photo_galary .photo-wrp img {
  z-index: 1;
  width: 371px;
  height: 238px;
  display: block;
  cursor: pointer;
}
.last_project-photo_galary .photo-wrp .description_photo {
  position: relative;
  background-color: #fbfaf8;
  text-align: left;
  padding: 25px 0 25px 28px;
}
.last_project-photo_galary .photo-wrp .description_photo .triangle {
  position: absolute;
  top: -10px;
  left: 19px;
  width: 30px;
  height: 10px;
  fill: #fbfaf8;
}
.last_project-photo_galary .photo-wrp .description_photo h3 {
  margin: 0 0 14px 0;
  font-size: 20px;
  color: #c7b299;
}
.last_project-photo_galary .photo-wrp .description_photo span {
  margin: 0;
  color: #8c8c8c;
  font-size: 14px;
  font-family: 'Montserrat';
}
.last_project .photo_galary-btn {
  margin-top: 40px;
  outline: none;
  width: 170px;
  height: 53px;
  background-color: #c7b299;
  font-size: 14px;
  color: #ffffff;
  font-family: 'Raleway';
  border-radius: 3px;
  border: none;
  text-transform: uppercase;
  font-weight: 800;
  cursor: pointer;
}
.last_project .photo_galary-btn:hover {
  background-color: #a18059;
}
.last_project .photo_galary-btn:active {
  color: #555555;
}
video {
  outline: none;
}
/*section-mobile-devices */
.mobile-devices {
  background: url(../img/iPhone-in-hand.png) no-repeat;
  background-position: 22% 100%;
  padding: 195px 20.2% 183px 44.6%;
  background-color: #fbfaf8;
}
.mobile-devices-description-title {
  margin: 0 0 40px 0;
  font-size: 30px;
  font-weight: 600;
  color: #555555;
}
.mobile-devices-description-definition {
  margin: 0 0 45px 0;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 300;
  line-height: 1.75;
  color: #8c8c8c;
}
.mobile-devices-description-list {
  margin: 0;
  padding: 0 0 0 50px;
}
.mobile-devices-description-list li {
  list-style: none;
}
.mobile-devices-description-list li span {
  font-size: 16px;
  font-weight: 300;
  line-height: 2;
  color: #8c8c8c;
  position: relative;
}
.mobile-devices-description-list li span:before {
  display: inline-block;
  content: "";
  width: 21px;
  height: 21px;
  position: absolute;
  top: -1px;
  left: -50px;
  background: url(../img/arrow-for-list.png) center center no-repeat;
  background-size: contain;
}
/*productivity */
.productivity {
  background: url(../img/productivity-background.png) center center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  padding: 69px 26% 60px 26%;
}
.productivity-item {
  width: 140px;
  text-align: center;
}
.productivity-item img {
  margin: 0 0 30px 0;
}
.productivity-item-count {
  display: block;
  font-size: 48px;
  font-weight: 200;
  line-height: 0.75;
  color: #ffffff;
  font-family: 'Montserrat';
  margin: 0 0 21px 0;
}
.productivity-item-name {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.43;
  color: #c7b299;
  margin: 0 auto;
}
.productivity-item-name:after {
  content: "";
  width: 30px;
  height: 3px;
  display: block;
  margin: 30px auto 0 auto;
  background-color: #c7b299;
}
/* message */
.message {
  padding: 82px 19.6% 0 19.6%;
}
.message-header {
  max-width: 786px;
  margin: 0 auto;
  text-align: center;
}
.message-header-title {
  margin: 0 0 30px 0;
  font-size: 30px;
  font-weight: 600;
  color: #555555;
}
.message-header-description {
  margin: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.75;
  color: #8c8c8c;
  font-family: 'Montserrat';
}
.message .slider-wrp {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}
.message-block {
  width: 370px;
}
.message-block .number1 {
  background: url(../img/photo-slide-1.png) center center no-repeat;
  background-size: contain;
}
.message-block .number2 {
  background: url(../img/photo-slide-2.png) center center no-repeat;
  background-size: contain;
}
.message-block .number3 {
  background: url(../img/photo-slide-3.png) center center no-repeat;
  background-size: contain;
}
.message-block-slider {
  padding-bottom: 22px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 370px;
  height: 220px;
}
.message-block-slider .slider-dots {
  width: 11px;
  height: 11px;
  background-color: #8c8c8c;
  margin-left: 10px;
  border-radius: 50%;
}
.message-block-slider .active {
  border: 2px solid #362f2d;
  background: none;
}
.message-block-slider-description {
  background-color: #fbfaf8;
  text-align: left;
  padding: 30px;
}
.message-block-slider-description h3 {
  margin: 0 0 19px 0;
  font-size: 20px;
  font-weight: 500;
  color: #555555;
}
.message-block-slider-description p {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.57;
  margin: 0 0 27px 0;
  color: #8c8c8c;
}
.message-block-slider-description a {
  font-size: 14px;
  color: #c7b299;
  margin-right: 10px;
}
.message-block-slider-description a:after {
  display: inline-block;
  content: "";
  width: 5px;
  height: 8px;
  margin-left: 10px;
  background: url(../img/triangle-sm.svg) center center no-repeat;
  background-size: contain;
}
/* label */
.label {
  display: flex;
  background: url(../img/label-backgound.png) center center no-repeat;
  background-size: cover;
  padding: 140px 21% 140px 21%;
  justify-content: space-between;
  align-items: center;
}
